<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lawyerselectorv2">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">
        <!-- LOADING SCREEN -->
        <activity
            android:name=".LoadingScreen"
            android:exported="true">
        </activity>
        <!-- CREATE LEGAL CASE -->
        <activity
            android:name=".CreateLegalCaseActivity"
            android:exported="true">

        </activity> <!-- LAWYER DETAILS_2 -->
        <activity
            android:name=".LawyerDetailsActivity_2"
            android:exported="true" /> <!-- LAWYER USER -->
        <activity
            android:name=".LawyerUser"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- LAWYER DETAILS -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LawyerDetailsActivity"
            android:exported="true" /> <!-- JOIN LAWYER -->
        <activity
            android:name=".JoinLawyerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- PRINCIPAL MENU LAWYERS -->
        <activity
            android:name=".PrincipalMenuActivity"
            android:exported="true">

        </activity><!-- SIGN UP 2 -->
        <activity
            android:name=".SignupActivity_2"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- TAKE A SELFIE -->
        <activity
            android:name=".TakeASelfieActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- SIGN UP -->
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" /> <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- META DATA -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>